/* メニュー全体のスタイル */
.menu-container {
  width: 40%;
  margin-left: auto; /* 右側の余白を最大限に広げる */
  margin-right: auto;   /* 右側の余白をゼロに設定 */
  padding: 20px;
  background-color: #f9f3e9;
  border: 1px solid #c5bfb6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'M PLUS Rounded 1c', sans-serif; /* 昭和フォントを適用 */
  /* flex: 1; 新しく追加された行 */
}

/* メニューアイテムのスタイル */
.menu-item {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f0e1d2;
  border: 1px solid #c5bfb6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* メニューアイテムの見出しスタイル */
.menu-item h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #6b4423;
}

/* メニューアイテムの説明文スタイル */
.menu-item p {
  margin: 10px 0;
  color: #684029;
}

/* 価格スタイル */
.price {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  color: #c6481d;
}
